// Atoms

// Buttons
button, .button {
	@include border-radius(3px);
	@include transition(background, 0.2s);
	@extend .padding-top-10;
	@extend .padding-bottom-10;
	@extend .padding-left-20;
	@extend .padding-right-20;
	@extend .display-inline-block;
	@extend .background-blue;
	@extend .text-white;
	cursor: pointer;

	&.small {
		@extend .padding-top-5;
		@extend .padding-bottom-5;
		@extend .padding-left-10;
		@extend .padding-right-10;
	}

	&.tiny {
		@extend .padding-0;
		@extend .padding-left-10;
		@extend .padding-right-10;
		font-size: 80%;
	}

	&.full {
		@extend .display-block;
		@extend .text-center;
	}

	&:hover, &:focus {
		@extend .text-white;
		background: $blue + 20;
	}

	&.error {
		@extend .background-error;
		&:hover, &:focus { background: $error + 20;}
	}

	&.warning {
		@extend .background-warning;
		&:hover, &:focus { background: $warning + 20;}
	}

	&.success {
		@extend .background-success;
		&:hover, &:focus { background: $success + 20;}
	}

	&.neutral {
		@extend .background-neutral;
		&:hover, &:focus { background: $neutral + 20;}
	}

	&.disabled {
		cursor: default;
		@extend .background-disabled;
		// &:hover, &:focus { background: $ash + 20;}
	}

	&.white {
		@extend .background-white;
		@extend .text-neutral;
		border: 1px solid $ash;
		&:hover, &:focus {
			@extend .background-white;
			@extend .text-neutral;
			border: 1px solid $neutral;
		}
	}
}





// Button Groups

.button-group {
	padding: 10px 0;
	button, .button {
		@include border-radius(0);
		margin-right: -6px;
		&:first-child { @include border-left-radius(3px); }
		&:last-child { @include border-right-radius(3px); }
		&.white:hover, &.white:focus {
			@extend .background-subtle;
			border-color: $ash;
		}
	}
}





// Dropdowns

.dropdown {
	@extend .display-inline-block;
	position: relative;
}

.dropdown-menu {
	@include border-radius(3px);
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 3;
	float: left;
	list-style: none;
	margin: 2px 0;
	padding: 0;
	background: $white;
	border: 1px solid $subtle;
	min-width: 140px;
	text-align: left;
	a {
		@extend .display-block;
		@extend .padding-10;
		border-bottom: 1px solid $subtle;
		&:hover, &:focus {
			@extend .background-subtle;
		}
		&.active { font-weight: bold; }
	}
	&.small a { font-size: 0.8rem; }
}







