// OLX Form Styles

// Form Resets from Bootstrap

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 23px;
  line-height: inherit;
  border: 0;
}

label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content
  margin-bottom: 5px;
  font-weight: bold;
}

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Adjust output element
output {
  display: block;
  padding-top: (10px + 1);
  font-size: 16px;
  line-height: 23px;
  color: $darkgray;
}


// Form Styles

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea,
select {
	@include border-radius(3px);
	@extend .padding-10;
	@extend .border-subtle;
	width: 100%;
	font-family: $copy;
	font-size: 16px;
	&:focus {
		@include single-box-shadow(0px, 0px, 3px, 0px, $blue);
		outline: none;
	}
}


//Field label-input container
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
	float: left;
	padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
	width: 75%;
	float: right;
}
form > div > fieldset label {
	font-size: 90%;
}

@media (max-width: 600px) {
form > div {
	margin: 0 0 15px 0; 
}
form > div > label,
legend {
	width: 100%;
	float: none;
	margin: 0 0 5px 0;
}
form > div > div,
form > div > fieldset > div {
	width: 100%;
	float: none;
}
}
@media (min-width: 1200px) {
form > div > label,
legend {
	text-align: right;
}
}