// Molecules

// Card

.card {
	@include border-radius(3px);
	@extend .margin-10;
	@extend .float-left;
	@extend .overflow-hidden;
	border: 1px solid $subtle;
	.card-header {
		@extend .padding-10;
		@extend .background-neutral;
		@extend .text-white;
	}
	.card-body, .card-actions {
		@extend .padding-10;
	}
}

.card-body.item {
	.item-name, .item-price { @extend .margin-bottom-20; }
	.item-price { @extend .text-red; }
	.item-details {
		@extend .text-ash;
		border-top: 1px solid $subtle;
		& > * { @extend .display-block; }
	}
}

.table-data {
	@extend .display-table;
	.data-set {
		@extend .display-table-row;
		& > * {
			@extend .display-table-cell;
			@extend .padding-5;
		}
		.label {
			@extend .text-right;
			@extend .text-ash;
			font-size: 0.8em;
		}
	}
}





.search-bar {
	@include border-radius(3px);
	@extend .background-green;
	@extend .padding-10;
	input {
		border: none;
		font-size: 1.25em;
		width: 75%;
		&:focus { box-shadow: none; }
	}
	.search-field {
		@include border-radius(3px);
		@extend .background-white;
		& > * {
			@extend .display-inline-block;
			@extend .valign-middle;
		}
		.dropdown {
			@extend .float-right;
			@extend .padding-top-5;
			margin-right: -10px;
		}
	}
}