// OLX Variables


//Colors
$bg: $white;
$neutral: $darkgray;
$subtle: $platinum;
$error: $red;
$alert: $blue;
$success: $green;
$warning: $orange;

//Fonts
$copy: "Helvetica Neue", Helvetica, Arial, sans-serif;